.card {
  background-image: url("..img/products-bg.svg");

  &__item {
    min-height: 658px;
    display: flex;
    background-image: url("..img/products-bg.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__taste {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--dark-color);
  }

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--dark-color);
  }
}
