.products {
  margin-top: -1px;

  &__top {
    padding: 60px 30px;
    justify-content: space-between;
    align-items: center;

    &::before {
      content: "";
      display: block;
      width: 225px;
      height: 165px;
      background-image: url("../img/svg/products-decor-1.svg");
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      display: block;
      width: 225px;
      height: 165px;
      background-image: url("../img/svg/products-decor-2.svg");
      background-repeat: no-repeat;
    }
  }

  &__title {
    margin: 0 auto;
    max-width: 785px;
    font-weight: 400;
    font-size: 65px;
    line-height: 73px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--dark-color);
  }

  &__content {
    position: relative;
    margin-top: -1px;
    padding: 20px;
  }

  &__decorative {
    width: calc(100% - 40px);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    svg {
      &:nth-child(2) {
        transform: translateX(-15px);
      }

      &:nth-child(3) {
        transform: translateX(15px);
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
  }

  &__item {
    width: 436px;
  }
}
