<header class="header">
  <div class="container">
    <a href="#" class="header__back">Go back</a>
    <nav class="nav" title="main navigation"></nav>
    <ul class="nav__list">
      <li class="nav__item"><a href="#" class="nav__link">Story</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Shop</a></li>
      <li class="nav__item"><a href="#" class="nav__link logo"></a></li>
      <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Wholesale</a></li>
    </ul>
    <button class="header__clone btn">Clone</button>
  </div>
</header>
