<section class="hero">
  <div class="container">
    <div class="border-block hero__block flex">
      <div class="hero__left">
        <div class="hero__ujjo">
          <img src="img/svg/ujjo.svg" alt="ujjo" />
        </div>
        <div class="hero__phrase">
          <div class="ticker__wrapper ticker">
            <div class="ticker__item">
              put some fire in your belly
              <img
                class="ticker__icon"
                src="img/svg/pepper.svg"
                aria-hidden="true"
                alt="icon"
              />
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img
                class="ticker__icon"
                src="img/svg/pepper.svg"
                aria-hidden="true"
                alt="icon"
              />
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img
                class="ticker__icon"
                src="img/svg/pepper.svg"
                aria-hidden="true"
                alt="icon"
              />
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img
                class="ticker__icon"
                src="img/svg/pepper.svg"
                aria-hidden="true"
                alt="icon"
              />
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img
                class="ticker__icon"
                src="img/svg/pepper.svg"
                aria-hidden="true"
                alt="icon"
              />
            </div>
          </div>
        </div>
        <div class="hero__image">
          <img src="img/hero-image.jpg" alt="Ujjo Pepper" />
        </div>
      </div>
      <div class="hero__right">
        <h1 class="hero__title">THE FIRST HOT SAUCE MADE FOR COFFEE</h1>
        <div class="hero__image-2">
          <img src="img/image-2.jpg" alt="pepper in hend" />
        </div>
      </div>
    </div>
  </div>
</section>
