<section class="products">
  <div class="container">
    <div class="border-block products__top flex">
      <h2 class="products__title">THROW SOME LAVA IN YOUR JAVA</h2>
    </div>
    <div class="border-block products__content">
      <ul class="list-reset products__list">
        <li class="products__item">
          <article class="card">
            <div class="card__taste">tangy and tingly</div>
            <h3 class="card__title">LIGHT ROAST BLEND</h3>
            <img
              class="card__image"
              loading="lazy"
              src="img/products-1.jpg"
              alt="LIGHT ROAST BLEND"
            />
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
